.list {
    width: 500px;
    height: 500px;
    list-style: none;
    background-color: yellow;
    margin: 0 auto;
    position: relative;
}

.item {
    width: 100px;
    height: 100px;
    background-color: red;
}

.item:nth-child(1) {
    position: absolute;
    background-color: red;
    top: 100px;
    left: 150px;
}

.item:nth-child(2) {
    position: absolute;
    background-color: blue;
    top: 150px;
    left: 200px;
    z-index: 1;
}

.item:nth-child(3) {
    position: absolute;
    background-color: green;
    top: 200px;
    left: 250px;
}